.titulo-home{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top:190px;
    text-align: center;

}

.section1 {
    transition: all 1.4s ease-out;
    color: whitesmoke;
    font-size:10px;
    background-color: rgb(40, 38, 38);
    display: flex;
    align-items: center;       
    justify-content: center;   
    text-align: center; 
    padding: 20px 7%;         
    width: 58%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}



.section2 {
    transition: all 1.4s ease-out;
    color: whitesmoke;
    font: size 10px;;
    background-color: rgb(40, 38, 38);
    display: flex;
    align-items: center;       
    justify-content: center;   
    text-align: center;
    padding: 20px 7%;          
    width: 58%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}



.section3 {
    transition: all 1.4s ease-out;
    color:whitesmoke;
    font-size:10px;
    background-color: rgb(40, 38, 38);
    display: flex;
    align-items: center;       
    justify-content: center;   
    text-align: center;
    padding: 20px 7%;          
    width: 58%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.section4 {
    transition: all 1.4s ease-out;
    background-color: rgb(40, 38, 38);
    display: flex;
    font-size:16px;
    line-height:1.5;
    padding: 20px 7%;          
    width: 58%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}






.section img{
    
    width: 200px;
    height:200px;
    border-radius:30px;
}





  
