h1{
    text-align:center;
    padding:30px;
    font-size: 1.5rem;
}


h3{
    
    color:white;
    white-space:break-spaces;
   margin-left:10px;
    
}

h2{
    font-size:1.5rem;
}

p{
    font-size:1.5rem;
    text-align:initial;
}

